*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

body,
html {
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
}

h1 {
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input,
button {
  outline: none;
  border: none;
  cursor: pointer;
}

button {
  border: 2px solid #CAE9EB;
  background: transparent;
  border-radius: 10px;
  padding: 20px 23px;
  font-family: "Rubik";
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    width: 1000px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    width: 800px;
  }
}
.header {
  height: 765px;
  overflow: hidden;
  position: relative;
}
.header__navbar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  z-index: 10;
}
.header__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}
.header__background-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__hero {
  padding-top: 383px;
  text-align: center;
}
.header__hero .container {
  position: relative;
  z-index: 10;
}
.header-hero {
  text-align: center;
  color: #fff;
}
.header-hero__title {
  width: 1155px;
  margin-bottom: 25px;
  font-family: "Ruda";
  font-weight: 900;
  font-size: 65px;
  line-height: 75px;
  text-transform: uppercase;
}
.header-hero__text {
  width: 688px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.header-hero__descr {
  font-family: "Rubik";
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}
.header-hero__link {
  color: #CAE9EB;
}

.navbar-header__menu {
  padding: 30px 0;
  background-color: rgba(202, 233, 235, 0.5);
  color: #FFF;
}
.navbar-header__menu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-header__social {
  margin-right: 59px;
}

.menu__link {
  color: #fff;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
.menu__lang {
  margin-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__lang-ru {
  margin-bottom: 10px;
}
.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__item:not(:last-child) {
  margin-right: 21px;
}
.menu__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__social {
  display: flex;
  justify-content: space-between;
  width: 146px;
  margin-right: 59px;
}
.menu__icon {
  display: none;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .header__hero {
    padding-top: 300px;
  }
  .header-hero__title {
    width: 800px;
    font-size: 45px;
    line-height: 1.15;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .header-hero__text {
    width: 688px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .header-hero__descr {
    font-family: "Rubik";
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
  }
}
.bio-picture {
  position: relative;
  width: 383px;
  height: 550px;
  z-index: 10;
  width: 1762px;
}
.bio__background {
  width: 100%;
}
.bio__background-img {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(235, 111, 255, 0.25) 0%, rgba(202, 233, 235, 0.25) 100%);
}/*# sourceMappingURL=style.css.map */