.bio
  &-picture
    position: relative
    width: 383px
    height: 550px
    z-index: 10
    width: 1762px
  &__background
    // width: 1762px
    width: 100%
    &-img
      width: 100%
      height: 100%
      background: linear-gradient(90deg, rgba(235, 111, 255, 0.25) 0%, rgba(202, 233, 235, 0.25) 100%)

.main 
	&__bio 
		
 
.bio 
	&__block 
		
	&__name 
		
	&__name
    &-tile 
		
	&__name
    &-text 
		
	&__name
    &-img 
		
	&__mission 
		
	&__mission
    &-tile 
		
	&__mission
    &-text 
		
	&__mission
    &-img 
		
	&__about 
		
	&__background 
		
	&__background
    &-img

  &-picture      
		




